<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/util
                http://www.springframework.org/schema/util/spring-util-2.5.xsd">


    <bean id="saxDigidocService" class="ee.sk.digidoc.services.SAXDigidocServiceImpl">
        <constructor-arg ref="notaryService" />
        <constructor-arg ref="canonicalizationService" />
        <constructor-arg ref="timestampService" />
    </bean>

    <bean id="timestampService" class="ee.sk.digidoc.services.BouncyCastleTimestampService" />

    <bean id="notaryService" class="ee.sk.digidoc.services.BouncyCastleNotaryServiceImpl">
        <constructor-arg ref="crlService" />
        <constructor-arg ref="trustService" />
        <constructor-arg name="responderUrl" value="http://ocsp.sk.ee" />
        <constructor-arg name="signRequests" value="false" />
        <constructor-arg name="p12file" value="null" />
        <constructor-arg name="p12password" value="null" />
        <constructor-arg name="ocspTimeout" value="30000" />
        <constructor-arg name="checkOcspNonce" value="false" />
    </bean>

    <bean id="caService" class="ee.sk.digidoc.services.CAServiceImpl">
        <constructor-arg ref="trustService" />
    </bean>

    <bean id="trustService" class="ee.sk.digidoc.services.TrustServiceImpl">
        <constructor-arg name="tslFile" value="src/main/resources/ee/sk/digidoc/VTSL-EE.xml" />
        <constructor-arg name="useLocal" value="true" />
        <property name="CACerts">
            <list>
                <value>jar:///ee/sk/digidoc/certs/ESTEID-SK.PEM.cer</value>
                <value>jar:///ee/sk/digidoc/certs/ESTEID-SK 2007.PEM.cer</value>
                <value>jar:///ee/sk/digidoc/certs/ESTEID-SK 2011.pem.cer</value>
            </list>
        </property>
        <property name="OCSPCerts">
            <list>
                <value>jar:///ee/sk/digidoc/certs/ESTEID-SK OCSP RESPONDER.PEM.cer</value>
                <value>jar:///ee/sk/digidoc/certs/ESTEID-SK OCSP RESPONDER 2005.PEM.cer</value>
                <value>jar:///ee/sk/digidoc/certs/ESTEID-SK 2007 RESPONDER.pem.cer</value>
                <value>jar:///ee/sk/digidoc/certs/ESTEID-SK_2007_OCSP_RESPONDER_2010.pem</value>
                <value>jar:///ee/sk/digidoc/certs/SK OCSP RESPONDER 2011.pem.cer</value>
            </list>
        </property>
    </bean>

    <bean id="crlService" class="ee.sk.digidoc.services.CRLServiceImpl" />

    <bean id="canonicalizationService" class="ee.sk.digidoc.services.TinyXMLCanonicalizationServiceImpl" />

    <bean id="digiDocGenServiceImpl" class="ee.sk.digidoc.services.DigiDocGenServiceImpl">
        <constructor-arg ref="trustService" />
        <constructor-arg ref="timestampService" />
        <constructor-arg ref="notaryService" />
    </bean>

</beans>